<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<head>
    <title>mgm go</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/user/profile.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/croppie.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta type="text" name="csrf-token" th:content="${_csrf!=null?_csrf.token:''}"/>
    <meta type="text" name="csrf-header" th:content="${_csrf!=null?_csrf.headerName:'X-CSRF-Token'}"/>
    <link rel="stylesheet" href="../../../static/css/user/profile.css">
</head>
<body>
<div layout:fragment="main-content">
    <div id="profile-container" class="col-12 row">
        <div id="picture-container">
            <img th:src="${userProfile.getImageId()!=null}?@{/api/image/}+${userProfile.getImageId()}:@{/static/images/default_profile_picture.png}"
                 id="profile-picture" class="img-thumbnail rounded mx-auto" alt="Profile picture"/>
            <label for="file-input" class="fa fa-camera"></label>
            <input type="file" id="file-input" accept="image/x-png,image/jpeg" hidden>
        </div>
        <form method="POST" class="col-12 col-lg-6" th:action="@{/profile}"  th:object="${userProfile}">
            <div th:if="${success!=null}" class="alert alert-success" th:text="${success}"></div>
            <div class="alert alert-danger" th:if="${error!=null}" th:text="${error}"></div>
            <div class="form-group row">
                <label class="col-12" for="username">Username:</label>
                <div class="col-12 px-0">
                    <input type="text" class="form-control" id="username" th:value="${username}" readonly/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-12" for="displayName">Display name:</label>
                <div class="col-12 px-0">
                    <input th:class="'form-control'+${#fields.hasErrors('displayName')?' is-invalid':''}" type="text"
                           name="displayName" id="displayName" th:value="*{displayName}"
                           maxlength="30" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('displayName')}"
                         th:errors="*{displayName}"></div>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" id="info-save-btn" class="btn btn-success">Save</button>
        </form>
    </div>

    <div class="modal" id="crop-modal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cropModalLabel">Upload new picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="picture-message" class="alert alert-danger d-none"></div>
                    <div id="crop-container"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="picture-save-btn" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="custom-script">
    <script th:src="@{/static/js/croppie.js}"></script>
    <script th:src="@{/static/js/profile.js}"></script>
</th:block>
</body>
</html>
