<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xmlns:th="www.thymeLeaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<head>
    <title>mgm go</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home/index.css}"/>

</head>
<body>

<div layout:fragment="main-content">
    <h5 class="display-4 d-none d-lg-block">Welcome to mgm go!</h5>
    <hr class="my-4 display-4 d-none d-lg-block">
    <p>You can find events, places and anything in here.</p>
    <div th:if="${not #lists.isEmpty(activities)}" th:each="item: ${activities}" class="activities">
        <div class="activity-item">
            <a th:href="@{/activity/{id}(id=${item.id})}" class="activity-name" th:text="${item.name}"></a>
        </div>
    </div>
</div>
</body>
</html>
