<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<head>
    <title>mgm go</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}"/>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${error != null}">
        <div class="alert-danger alert" th:text="${error}"></div>
    </div>
    <h3>Create new activity</h3>
    <div class="card text-left p-3">
        <form method="post" action="/activity/create" name="createForm" th:object="${activityInfo}" id="createForm">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-group">
                <label for="title">Name</label>
                <input type="text" name="name" class="form-control" id="title" th:value="${activityInfo.getName()}">
                <div id="alertName" class="text-danger text-alert-mes"></div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" rows="3"
                          th:text="${activityInfo.description}"></textarea>
                <div id="alertDes" class="text-danger text-alert-mes"></div>
            </div>
            <button id="submitBtn" type="submit" class="btn btn-success">Create</button>
            <a th:href="@{/}" class="btn btn-negative">Cancel</a>
        </form>
    </div>
</div>
<th:block layout:fragment="custom-script">
    <script src="/static/js/activity.js"></script>
</th:block>
</body>