.container {
    margin: 10px auto;
    max-width: 1110px;
}

.image-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}