html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*.wrapper {*/
/*    margin-top: 60px;*/
/*}*/


.page-footer {
    background-color: #1d76bb;
    margin-top: auto;
    color: rgba(255, 255, 255, .6);
;
}
.footer-link {
    color: rgba(255, 255, 255, .6);
    font-size: 1rem;
}

.footer-link:hover {
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
}

.footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .6);
}

.text-decoration-none {
    text-decoration: none !important;
}