.logo_img{
    height: 40px;
    width: auto;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans', Arial, sans-serif !important;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-wrapper {
    padding-top: 66px;
}

.page-footer {
    background-color: #1d76bb;
    margin-top: auto;
    color: rgba(255, 255, 255, .6);;
}

.footer-link {
    color: rgba(255, 255, 255, .6);
    font-size: 1rem;
}

.footer-link:hover {
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
}

.footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .6);
}

.text-decoration-none {
    text-decoration: none !important;
}

#header_area{
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none !important;
    color: #666666!important;
    font-weight: 500;
    outline: none;
}

.navbar a:hover {
    cursor: pointer;
    color: #333!important;
    background: none!important;
}

.navbar a:active {
    color: #333!important;
    background:none!important;
}

.text-primary {
    color: #1d76bb !important;
}

.bg-primary {
    background-color: #1d76bb !important;
}

.btn-primary {
    background-color: #1d76bb !important;
}
.text-warning {
    color: #fbbe0a !important;
}

.bg-warning {
    background-color: #fbbe0a !important;
}

.btn-warning {
    background-color: #fbbe0a !important;
}

.btn-toggle:focus {
    outline: none;
}