<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xmlns:th="www.thymeLeaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
    <head>
        <title>mgm go</title>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}"/>
    </head>
    <body>
        <div layout:fragment="main-content">
            you can override the main-content in default-layout
        </div>

        <th:block layout:fragment="custom-script">
            <script src="/static/js/index.js"></script>
        </th:block>
    </body>
</html>
