#action-bar a {
    margin-top: 5px;
    text-decoration: none;
}

#activity-detail {
    border: none;
}

#detail-header {
    font-size: 1.5rem;
    padding: 0px;
}

#detail-title {
    font-size: 0.8em;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    flex: 1;
}

#activity-rating {
    text-align: right;
}

#activity-rating button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#activity-rating button:hover {
}

#rating-score {
    padding: 0px;
    font-size: 0.7em;
    text-align: left;
}

#rating-star {
    text-align: left;
    position: relative;
    height: 1em;
    width: 1em;
    padding: 0px;
    transform: rotateY(180deg);
    flex: 1;
}

#star-filled {
    color: #fbbe0a;
    position: absolute;
    z-index: 1
}

#star-empty {
    color: #fd7e14;
    position: absolute;
    z-index: 3;
}

#star-removed {
    color: #fff;
    position: absolute;
    height: 0%;
    overflow: hidden;
    z-index: 2;
}

#rateModal button.rate-star {
    color: #6c757d;
    font-size: 2.5rem;
    padding: 0.3rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#rate-close {
    color: #fff;
}

#rateModal button.checked {
    color: #fbbe0a !important;
}
