<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="page-footer pt-5 pt-sm-3">
    <!-- Footer -->
    <!-- Footer Links -->
    <div class="container text-md-left">

        <!-- Grid row -->
        <div class="row my-4">

            <!-- Grid column -->
            <div class="col-md-6 col-sm-12 mt-md-0 mt-sm-4 pr-5 invisible quote-wrapper">

                <!-- Content -->
                <h5 class="text-white text-uppercase font-weight-bold mb-3">Quote of Day</h5>
                <blockquote class="font-italic blockquote"id="quote-content">
                    Do not pray for an easy life, pray for the strength to endure a
                        difficult one.
                </blockquote>
                <h5 id="quote-author" class="font-italic text-light text-right">- Bruce Lee</h5>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 col-sm-6 col-12 mb-md-0 ">

                <!-- Links -->
                <h5 class="text-white text-uppercase font-weight-bold mb-3">Products</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/" class="text-decoration-none footer-link">mgm-tp</a>
                    </li>
                    <li>
                        <a href="/" class="text-decoration-none footer-link">mgm-a12</a>
                    </li>
                    <li>
                        <a href="/" class="text-decoration-none footer-link">mgm</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-sm-6  col-12 mb-md-0">

                <!-- Links -->
                <h5 class="text-white text-uppercase font-weight-bold mb-3">Useful Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/" class="text-decoration-none footer-link">mgm-tp</a>
                    </li>
                    <li>
                        <a href="/" class="text-decoration-none footer-link">mgm-a12</a>
                    </li>
                    <li>
                        <a href="/" class="text-decoration-none footer-link">mgm</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="/" class="text-white text-decoration-none footer-link"> mgmgo.com</a>
    </div>
    <!-- Copyright -->

    <!-- Footer -->
</footer>