<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="page-footer pt-3 pt-sm-4 bg-primary">
    <!-- Footer -->
    <!-- Footer Links -->
    <div class="container px-5 px-sm-0 px-md-0">

        <!-- Grid row -->
        <div class="row my-4 px-sm-5">

            <!-- Grid column -->
            <div class="col mt-md-0 mt-sm-4 pr-3 invisible quote-wrapper">

                <!-- Content -->
                <h4 class="text-white text-center text-uppercase font-weight-bold mb-4">Quote of Day</h4>
                <blockquote class="font-italic text-center blockquote mb-0" id="quote-content">
                    Do not pray for an easy life, pray for the strength to endure a
                    difficult one.
                </blockquote>

                <h5 id="quote-author" class="font-italic text-light text-right pr-4">- Bruce Lee -</h5>
            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </div>

</footer>
